trigger:
  - master
pool:
  vmImage: 'ubuntu-latest'

stages:

  - stage: Build
    jobs:
      - job: NpmPublish
        steps:
          - task: Npm@1
            displayName: npm install
            inputs:
              command: 'install'

          - task: Npm@1
            displayName: npm build
            inputs:
              command: 'custom'
              customCommand: 'run build'

          - task: ArchiveFiles@2
            displayName: Artifacts
            inputs:
              rootFolderOrFile: 'dist/track-cops/'
              includeRootFolder: true
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/dist.zip'
              replaceExistingArchive: true

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: QA
    dependsOn: Build
    jobs: 
      - job: A

  - stage: UAT
    dependsOn: Build
    jobs:
      - job: A
      - job: B


